@model List<ProgramViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">

    @foreach (var program in Model)
    {
        <div class="program-box">
            <div class="image-box">
                <img class="image" src="@program.ProgramImage">
            </div>

            <div class="info">
                <div class="header">@program.Name</div>
                <div class="channel">Kanal: @program.Channel.Name</div>
                <div class="description">@program.Description</div>
                <div class="description">De tre senaste avsnitten:</div>
                @foreach (var episode in program.LatestEpisodes)
                {
                    <div class="episodes">                    
                        <div class="episode-title">@episode.Title</div>
                        <div class="episode-description">@episode.Description</div>
                        <div class="episode-audio">@episode.AudioUrl</div>
                    </div>                 
                }
            </div>
        </div>

    }


</div>
